@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,200;0,300;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #5DFDCB;
    --secondary-color: #90D7FF;
    --accent1-color: #C9F9FF;
    --accent2-color: #2e86ab;

    --heading-font: 'Roboto' ;
    --paragraph-font: 'Poppins';

    --nav-background-color: #F5F749 ;
    --nav-link-color: #559CAD;
    --nav-hover-link-color: #01BAEF;
    --nav-hover-background-color: #040F16;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1200px;
    margin: auto;
    line-height: 1.5;
    font-family: var(--paragraph-font);
}

.contact-bg {
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../images/rafting13_1024.jpg");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url("wwr/images/rafting2.jpg"); */
}

.contact-bg h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

p {
    font-size: 1.1rem;
    font-weight: 400;
}

.contact-bg h2 {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}

.line div {
    margin: 0 0.2rem;
}

.line div:nth-child(1), .line div:nth-child(3) {
    height: 3px;
    width: 70px;
    background: #f7327a;
    border-radius: 5px;
}

.line {
    display: flex;
    align-items: center;
}

.line div:nth-child(2) {
    width: 10px;
    height: 10px;
    background: #f7327a;
    border-radius: 50%;
}

.text {
    font-weight: 300;
    opacity: 0.9;
}

.contact-bg .text {
    margin: 1.6rem 0;
}

.contact-body {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}

.contact-info {
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}

.contact-info span {
    display: block;
}

.contact-info div {
    margin: 0.8rem 0;
    padding: 1rem;
}

.contact-info span .fas {
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: var(--nav-hover-link-color);
}

.contact-info div span:nth-child(2) {
    font-weight: 500;
    font-size: 1.1rem;
}

.contact-info .text {
    padding-top: 0.4rem;
}

.contact-form {
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
}

.contact-form form {
    padding-bottom: 1rem;
}

.form-control {
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem;
    font-family: var(--paragraph-font);
    font-size: 1rem;
    outline: 0;
}

.form-control:focus {
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}

.contact-form form div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}

.send-btn {
    font-family: var(--heading-font);
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: navy;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

.send-btn:hover {
    opacity: 0.8;
}

.contact-form > div img {
    width: 20%;
    height: 50%;
    border-radius: 50%;
}

.contact-form > div {
    margin: 0 auto;
    text-align: center;
}

h1, h2, h3 {
    /* font-family: var(--heading-font); */
    color: var(--primary-color);
}

p {
    padding: 25px;
    font-family: var(--paragraph-font);
}

header {
    padding: 60px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: auto 1fr;
    /* display: grid; */
    /* grid-template-columns: auto 1fr; */
    justify-content: space-around;
    align-items: center;
}

header img {
    width: 200px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
}

nav a {
    font-family: var(--heading-font);
    text-decoration: none;
    display: block;
    color: var(--nav-link-color);
    padding: 1.5rem;
    text-align: center;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 400px;
    text-align: center;

}

.hero p, .hero h2 {
    color: white;
}

.hero article {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
}

.hero article img {
    float: right;
    margin-left: 10px;
    width: 100px;
}

footer {
    font-size: medium;
    font-weight: bold;
    background-color: #F5F749;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sociallinks img {
    width: 30px;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 100px;
    background-color: var(--nav-hover-background-color);
}

figure img {
    width: 150%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}


figure {
    /* margin: 0;
    padding: 0; */
    text-align: center;
}

figcaption {
    margin-top: 8px;
    font-size: 0.9rem;
    color: white;
}