@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,200;0,300;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #5DFDCB ;
    --secondary-color: #90D7FF ;
    --accent1-color: #C9F9FF;
    --accent2-color: #2e86ab;

    --heading-font: 'Roboto' ;
    --paragraph-font: 'Poppins';

    --nav-background-color: #F5F749 ;
    --nav-link-color: #559CAD;
    --nav-hover-link-color: #01BAEF;
    --nav-hover-background-color: #040F16;
}

body {
    max-width: 1500px;
    margin: auto;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 25px;
    font-family: var(--paragraph-font);
}

header {
    padding: 100px;
    background-color: var(--accent1-color);
}

nav {
        background-color: var(--nav-background-color);
        font-size: 1.5rem;
        display: flex;
        text-align: center;
}

nav a {
    font-family: var(--heading-font);
    text-decoration: none;
    display: block;
    color: var(--nav-link-color);
    padding: 1rem;
    text-align: center;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 400px;
    text-align: center;

}

.hero p, h2 {
    color: white;
}

.hero article {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
}

.hero article img {
    float: right;
    margin-left: 10px;
    width: 100px;
}